/* Red-Orange #FD1C00 hsl(358, 85%, 52%) */
/* Blue #2F3293 hsl(240, 51%, 38%) */
/* Orange #FB6F10 hsl(24, 97%, 52%) */

body {
    background-color: hsla(240, 50%, 80%, 40%);
    margin: 0;
}

.headerContainer {
    background-color: #EEE;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#header {
    width: 100%;
    height: 15vh;
    position: relative;
    top: 5%;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: hsl(240, 50%, 50%);
    font-family: 'Ubuntu', sans-serif;
}

.image {
    width: 7em;
    height: auto;
    position: relative;
    /* left: 10%; */
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 7.5px solid hsl(240, 50%, 50%);
    margin: 0;
    padding: 0.5%;
}


#nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    text-decoration: none;
    position: relative;

}

.nav-title {
    margin-left: 2.5%;
    width: 25vw;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.nav-link:hover {
    color: hsla(240, 50%, 80%, 70%);
}

.nav-link-words {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-right: 10%;
}

.smallWord {
    font-size: 1em;
    font-weight: 550;
    color: white
}

.largeWord {
    font-size: 2em;
    font-weight: 900;
    color: white;
    width: 100%;
}

.nav-icon {
    font-size: 2em;
    margin: auto;
    padding-left: 7.5%;
}

.container {
    font-family: 'Ubuntu', sans-serif;
}

.title {
    color: white;
    font-size: 400%;
    margin: 5% 0;
    letter-spacing: 2px;
}

#background {
    width: 75vw;
    margin: 2.5% 0 5% 0;
}

#about {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 50%, 50%);
    width: 75vw;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.featureRow {
    background-color: #FB6F10;
    color: #EEE;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 2.5%;
    padding: 2.5%;
}

.feature-label {
    width: 20%;
}

.icon {
    font-size: 2.5em;
    margin: 0 auto;
}

.priceRow {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1.25% 10%;
    /* background: linear-gradient(to left, #8E92F9, #2F3293); */
    background-color: hsl(30, 90%, 50%);
    color: #2F3293;
    font-family: 'Ubuntu', sans-serif;
    padding: 2% 2.5%;
    border-radius: 10px;
}

#topPriceRow {
    margin-top: 2.5%;
}

#prices {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75vw;
    margin: 0 auto;
    background-color: hsl(240, 50%, 50%);
    border-radius: 15px;
}

#price-header {
    font-size: 400%;
    color: white;
    letter-spacing: 3px;
    margin: 2.5% 0;
    width: 50%;
    text-align: center;
}

.washFeatures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.washFeatureTitle {
    margin: 2% 0;
}

.washDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 110%;
}

.washCost {
    height: 15%;
    width: 20%;
    background-color: #2F3293;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2em;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    background-color: hsl(240, 50%, 50%);
    margin: 2.5% auto;
    border-radius: 1.5%;
    height: auto;
    padding: 2.5% 0 5% 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    letter-spacing: 1.5px;
    /* color: ; */
}

#contact-header {
    color: #FD1C00;
}

/* .formInput {
    color: #FB6F10;
} */

.rowData {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2.5% 0;
}

.labels {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.rowRight {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 2% 0;
}

#name {
    width: 17.5em;
    padding: 5%;
    border: none;
    border-radius: 20px;
}

#email {
    width: 17.5em;
    padding: 5%;
    border: none;
    border-radius: 20px;
}

#phone {
    width: 17.5em;
    padding: 5%;
    border: none;
    border-radius: 20px;
}

#message {
    border: none;
    padding: 5%;
    border-radius: 20px;    
}

#submit-button {
    margin-top: 10%;
}

#submit {
    width: 7.5em;
    padding: 2.5% 5%;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #757575;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #2F3293;
    color: #EEEEEE;
}


.footer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
}